APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# Nitro Storage Engine
NITRO_STORAGE_ROOT="C:/DataPortal_Nitro_Storage"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=dataportal
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSLMODE=prefer

# Super Admin Account
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_NAME="Super Admin"
SUPER_ADMIN_USER=superadmin
SUPER_ADMIN_PASSWORD=admin123
SUPER_ADMIN_FORCE_PASSWORD=false

SUPPORT_PHONE="+6012-3456789"
SUPPORT_EMAIL=support@example.com

SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=temadigital_api
MAIL_API_KEY=temadigital
MAIL_API_URL=https://mail-api.temadigital.my/send-email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply.temadigital@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

# Cloud Storage Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL="${APP_URL}/auth/google/callback"
GOOGLE_DRIVE_DELIVERY_FOLDER_ID=
GOOGLE_REFRESH_TOKEN=

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
MICROSOFT_REDIRECT_URI="http://localhost:3000/auth/microsoft/callback"
# SFTP Delivery Configuration
SFTP_DELIVERY_HOST=127.0.0.1
SFTP_PORT=2222
SFTP_DELIVERY_USERNAME=
SFTP_DELIVERY_PASSWORD=
SFTP_DELIVERY_ROOT=/home/user/

# SFTPGo REST API configuration
SFTPGO_API_URL="http://172.17.0.1:8080"
SFTPGO_ADMIN_USERNAME="temadigital_admin"
SFTPGO_ADMIN_PASSWORD=

# Payment Gateway
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
