node_modules/
.env
uploads/

# MacOS files
.DS_Store

# React viewer specifics
react-viewer-app/node_modules/
react-viewer-app/dist/
react-viewer-app/server/node_modules/
react-viewer-app/server/dist/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
